<a [routerLink]=[redirectUrl]>
    <div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-3 dark:bg-[#363843] dark:border-gray-500">
        <div class="flow-root">
             <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                 <li class="py-3 sm:py-4">
                     <div class="flex items-center">
                         <div class="flex-shrink-0">
                             <img class="w-8 h-8 rounded-full" src="https://abkkpss.com/assets/images/male_125.jpg" alt="Neil image">
                         </div>
                         <div class="flex-1 min-w-0 ms-4">
                             <p class="text-sm font-medium text-gray-800 truncate dark:text-gray-800">
                                {{memberName}}
                             </p>
                             <p class="text-sm text-gray-500 truncate dark:text-gray-600">
                                native: <b>{{memberNative}}</b> &nbsp;&nbsp;&nbsp;current: <b>{{memberCurrent}}</b>
                             </p>
                         </div>
                     </div>
                 </li>
             </ul>
        </div>
     </div>
    </a>