<div class="grid lg:grid-cols-2 grow" style="height: 100%;">
  <div class="flex justify-center items-center p-8 lg:p-10 order-1 lg:order-1">
   <div class="card max-w-[370px] w-full">
    <form #form="ngForm" class="card-body flex flex-col gap-5 p-10" (ngSubmit)="handleSubmit(form)">
     <div class="text-center mb-2.5">
      <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
       Log in
      </h3>
     </div>
     <div class="flex flex-col gap-1">
      <simple-database-input placeholder="917XXXXXXX" [record]="record" [dataField]="TblUsers.userMobile" [name]="TblUsers.userMobile"
        [(ngModel)]="record[TblUsers.userMobile]" [formSubmitted]="isFormSubmitted" [simpleDatabaseTable]="Tables.users"
        [value]="record[TblUsers.userMobile]" (onInputInit)="handleInputInit($event)"
        (onInputViewInit)="handleInputViewInit($event)" [required]="true"/>
     </div>
     <div class="flex flex-col gap-1">
      <div data-toggle-password="true">
        <simple-database-input class="input" placeholder="Enter Password" [record]="record" [dataField]="TblUsers.userPassword" [name]="TblUsers.userPassword"
        [(ngModel)]="record[TblUsers.userPassword]" [formSubmitted]="isFormSubmitted" [simpleDatabaseTable]="Tables.users"
        [value]="record[TblUsers.userPassword]" (onInputInit)="handleInputInit($event)"
        (onInputViewInit)="handleInputViewInit($event)" [required]="true"/>
       <!-- <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
        <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden">
        </i>
        <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block">
        </i>
       </button> -->
      </div>
     </div>
     <div class="flex items-center justify-between gap-1">
      <a class="text-2sm link shrink-0">
       Forgot Password?
      </a>
     </div>
     <!-- <label class="checkbox-group">
      <input class="checkbox checkbox-sm" name="check" type="checkbox" value="1"/>
      <span class="checkbox-label">
       Remember me
      </span>
     </label> -->
     <button type="submit" class="btn btn-primary flex justify-center grow">
      Log In
     </button>
    </form>
   </div>
  </div>
  <div class="lg:rounded-xl lg:border lg:border-gray-200 lg:m-5 order-1 lg:order-2 bg-top xxl:bg-center xl:bg-cover bg-no-repeat branded-bg">
   <div class="flex flex-col p-8 lg:p-16 gap-4">
    <a>
     <img class="h-[75px] max-w-none" src="assets/images/logo/logo_medium.png"/>
    </a>
    <div class="flex flex-col gap-3">
     <h3 class="text-2xl font-semibold text-gray-900">
      Portal for ABKKPSS Members!
     </h3>
     <div class="text-base font-medium text-gray-600">
      This portal is meant for ABKKPSS members. Login using mobile number and password. If you don't have login password, please contact your zone admin.
     </div>
     <ng-container *ngFor="let member of adminMembers">
      <div>{{member['member_name']}}</div>
     </ng-container>
    </div>
   </div>
  </div>
</div>
