<ng-container>
  <div class="w-full mx-auto px-4 flex justify-between items-stretch" id="header_container">
    <div class="flex gap-1 lg:hidden items-center -ml-1">
      <div class="flex items-center">
        <button class="btn btn-icon btn-light btn-clear btn-sm" data-drawer-toggle="#megamenu_wrapper">
          <i class="fa fa-bars">
          </i>
        </button>
      </div>
    </div>
    <div class="flex gap-1 items-center -ml-1">
      <a class="shrink-0">
        <img class="max-h-[45px] w-full" src="assets/images/logo/logo_small.png" />
      </a>
    </div>
    <div class="flex items-stretch" id="megamenu_container">
      <div class="flex items-stretch" data-reparent="true" data-reparent-mode="prepend|lg:prepend"
        data-reparent-target="body|lg:#megamenu_container">
        <div class="hidden lg:flex lg:items-stretch" data-drawer="true"
          data-drawer-class="drawer drawer-start fixed z-10 top-0 bottom-0 w-full mr-5 max-w-[250px] p-5 lg:p-0 overflow-auto"
          data-drawer-enable="true|lg:false" id="megamenu_wrapper">
          <div class="menu flex-col lg:flex-row gap-5 lg:gap-7.5" data-menu="true" id="megamenu">
            <div class="menu-item divlink active">
              <a
                class="menu-link text-nowrap text-sm text-gray-700 font-medium menu-item-hover:text-primary menu-item-active:text-gray-900 menu-item-active:font-semibold">
                <span class="menu-icon me-2 ">
                  <i class="fal fa-home">
                  </i>
                </span>
                <span class="menu-title text-nowrap">
                  Home
                </span>
              </a>
            </div>
            <ng-container *ngFor="let item of AppService.appMenu">
              <app-header-menu-item [menuItem]="item" />
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-2 lg:gap-3.5">
      <div class="menu" data-menu="true">
        <div class="menu-item" data-menu-item-offset="20px, 10px" data-menu-item-placement="bottom-end"
          data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
          <div class="menu-toggle btn btn-icon rounded-full"  id="headerProfileAvatarBadge">
            <img alt="" class="size-9 rounded-full border-2 shrink-0" [ngClass]="getMemberProfileRibbon()"
              src="{{getMemberProfileImage()}}" />
          </div>
          <div class="menu-dropdown menu-default light:border-gray-300 w-full max-w-[250px]">
            @if(isLoggedIn()){
              <div class="flex items-center justify-between px-5 py-1.5 gap-1.5">
                <div class="flex items-center gap-2">
                  <img alt="" class="size-9 rounded-full border-2" [ngClass]="getMemberProfileRibbon()" src="{{getMemberProfileImage()}}" />
                  <div class="flex flex-col gap-1.5">
                    <span class="text-sm text-gray-800 font-semibold leading-none">
                      {{getMemberDetail(ViewMemberDetails.memberName)}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="menu-separator">
              </div>
            <div class="flex flex-col">
              <div class="menu-item">
                <a class="menu-link" [routerLink]="getMemberProfileLink()" (click)="appService.closeProfileDialog()">
                  <span class="menu-icon">
                    <i class="ki-filled ki-badge">
                    </i>
                  </span>
                  <span class="menu-title">
                    My Account
                  </span>
                </a>
              </div>
              <!-- <div class="menu-item">
                <a class="menu-link" [routerLink]="['/auth']">
                  <span class="menu-icon">
                    <i class="ki-filled ki-people">
                    </i>
                  </span>
                  <span class="menu-title">
                    Family Tree
                  </span>
                </a>
              </div> -->
              <div class="menu-item">
                <a class="menu-link" href="#"  [routerLink]="['/members/member-form', 'new', 0]">
                  <span class="menu-icon">
                    <i class="ki-filled ki-user-edit">
                    </i>
                  </span>
                  <span class="menu-title">
                    Add Member
                  </span>
                </a>
              </div>
              <div class="menu-item">
                <a class="menu-link" [routerLink]="['/firms/firm-form', 'new', 0]" (click)="appService.closeProfileDialog()">
                  <span class="menu-icon">
                    <i class="ki-filled ki-car">
                    </i>
                  </span>
                  <span class="menu-title">
                    Add Firm
                  </span>
                </a>
              </div>
              <!-- Language Modal -->
              <!-- <div class="menu-item" data-menu-item-offset="-10px, 0" data-menu-item-placement="left-start"
                data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:hover">
                <div class="menu-link">
                  <span class="menu-icon">
                    <i class="ki-filled ki-icon">
                    </i>
                  </span>
                  <span class="menu-title">
                    Language
                  </span>
                  <div
                    class="flex items-center gap-1.5 rounded-md border border-gray-300 text-gray-600 p-1.5 text-2xs font-medium shrink-0">
                    English
                    <img alt="" class="inline-block size-3.5 rounded-full" src="assets/media/flags/united-states.svg" />
                  </div>
                </div>
                <div class="menu-dropdown menu-default light:border-gray-300 w-full max-w-[170px]">
                  <div class="menu-item active">
                    <a class="menu-link h-10" href="#">
                      <span class="menu-icon">
                        <img alt="" class="inline-block size-4 rounded-full"
                          src="assets/media/flags/united-states.svg" />
                      </span>
                      <span class="menu-title">
                        English
                      </span>
                      <span class="menu-badge">
                        <i class="ki-solid ki-check-circle text-success text-base">
                        </i>
                      </span>
                    </a>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link h-10" href="#">
                      <span class="menu-icon">
                        <img alt="" class="inline-block size-4 rounded-full" src="assets/media/flags/spain.svg" />
                      </span>
                      <span class="menu-title">
                        Spanish
                      </span>
                    </a>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link h-10" href="#">
                      <span class="menu-icon">
                        <img alt="" class="inline-block size-4 rounded-full" src="assets/media/flags/germany.svg" />
                      </span>
                      <span class="menu-title">
                        German
                      </span>
                    </a>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link h-10" href="#">
                      <span class="menu-icon">
                        <img alt="" class="inline-block size-4 rounded-full" src="assets/media/flags/japan.svg" />
                      </span>
                      <span class="menu-title">
                        Japanese
                      </span>
                    </a>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link h-10" href="#">
                      <span class="menu-icon">
                        <img alt="" class="inline-block size-4 rounded-full" src="assets/media/flags/france.svg" />
                      </span>
                      <span class="menu-title">
                        French
                      </span>
                    </a>
                  </div>
                </div>
              </div> -->
            </div>
          }
            @if(isLoggedIn()){
              <div class="menu-separator">
              </div>
            }
            <div class="flex flex-col">
              <div class="menu-item mb-0.5">
                <div class="menu-link">
                  <span class="menu-icon">
                    <i class="ki-filled ki-moon">
                    </i>
                  </span>
                  <span class="menu-title">
                    Dark Mode
                  </span>
                  <label class="switch switch-sm">
                    <input data-theme-state="dark" data-theme-toggle="true" name="check" type="checkbox" value="1" />
                  </label>
                </div>
              </div>
              @if(isLoggedIn()){
                <div class="menu-item px-4 py-1.5">
                  <a class="btn btn-sm btn-light justify-center" (click)="logOutUser()">
                    Log out
                  </a>
                </div>
              }@else{
                <div class="menu-item px-4 py-1.5">
                  <a class="btn btn-sm btn-light justify-center" (click)="this.appService.closeProfileDialog()" [routerLink]="['auth']">
                    Log In
                  </a>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
