<div class="p-4">
  <div class="card card-grid min-w-full" style="height:calc(100vh - 85px);">
    <div class="card-header py-1">
      <h3 class="card-title">
        Showing 0 {{title}}
      </h3>
      <div class="flex items-center justify-between gap-2">
        <div class="menu" data-menu="true">
         <div class="menu-item" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
          <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
           <i class="ki-filled ki-dots-vertical">
           </i>
          </button>
          <div class="menu-dropdown menu-default w-full max-w-[200px]" data-menu-dismiss="true">
            <ng-container *ngIf="actions.length>0">
              <ng-container *ngFor="let action of actions;">
                <div class="menu-item">
                  <a class="menu-link" (click)="action.callback()">
                   <span class="menu-icon">
                    <i [class]="action.icon">
                    </i>
                   </span>
                   <span class="menu-title">
                    {{action.label}}
                   </span>
                  </a>
                 </div>
              </ng-container>
              <hr class="my-1"/>
            </ng-container>
           <div class="menu-item">
            <a class="menu-link" href="html/demo1/account/home/settings-enterprise.html">
             <span class="menu-icon">
              <i class="ki-filled ki-setting-3">
              </i>
             </span>
             <span class="menu-title">
              Customize Columns
             </span>
            </a>
           </div>
           <div class="menu-item">
            <a class="menu-link" href="html/demo1/account/members/import-members.html">
             <span class="menu-icon">
              <i class="fa fa-download">
              </i>
             </span>
             <span class="menu-title">
              Export Excel
             </span>
            </a>
           </div>
           <div class="menu-item">
            <a class="menu-link" href="html/demo1/account/activity.html">
             <span class="menu-icon">
              <i class="fa fa-filter">
              </i>
             </span>
             <span class="menu-title">
              Filter Records
             </span>
            </a>
           </div>
          </div>
         </div>
        </div>
       </div>
    </div>
    <div class="card-body" style="height:100%;">
      <div data-datatable="true" data-datatable-page-size="20">
        <div class="scrollable-x-auto">
          <table class="table table-border" data-datatable-table="true">
            <thead>
              <tr>
                <th class="w-14">
                  <input class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
                </th>
                <th class="min-w-[200px]">
                  <span class="sort">
                    <span class="sort-label text-gray-700 font-normal">
                      Member
                    </span>
                    <span class="sort-icon">
                    </span>
                  </span>
                </th>
                <th class="w-[170px]">
                  <span class="sort">
                    <span class="sort-label text-gray-700 font-normal">
                      Status
                    </span>
                    <span class="sort-icon">
                    </span>
                  </span>
                </th>
                <th class="w-[170px]">
                  <span class="sort">
                    <span class="sort-label text-gray-700 font-normal">
                      Date
                    </span>
                    <span class="sort-icon">
                    </span>
                  </span>
                </th>
                <th class="w-[170px]">
                  <span class="sort">
                    <span class="sort-label text-gray-700 font-normal">
                      Due Date
                    </span>
                    <span class="sort-icon">
                    </span>
                  </span>
                </th>
                <th class="w-[170px]">
                  <span class="sort">
                    <span class="sort-label text-gray-700 font-normal">
                      Amount
                    </span>
                    <span class="sort-icon">
                    </span>
                  </span>
                </th>
                <th class="w-[100px]">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="1" />
                </td>
                <td class="text-gray-800 font-normal">
                  Invoice-2024-xd912c
                </td>
                <td>
                  <div class="badge badge-sm badge-outline badge-warning">
                    Upcoming
                  </div>
                </td>
                <td class="text-gray-800 font-normal">
                  6 Aug, 2024
                </td>
                <td class="text-gray-800 font-normal">
                  HR Dept
                </td>
                <td class="text-gray-800 font-normal">
                  $24.00
                </td>
                <td class="text-center">
                  <a class="btn btn-link" href="">
                    Download
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="2" />
                </td>
                <td class="text-gray-800 font-normal">
                  Invoice-2024-rq857m
                </td>
                <td>
                  <div class="badge badge-sm badge-outline badge-success">
                    Paid
                  </div>
                </td>
                <td class="text-gray-800 font-normal">
                  17 Jun, 2024
                </td>
                <td class="text-gray-800 font-normal">
                  6 Aug, 2024
                </td>
                <td class="text-gray-800 font-normal">
                  $29.99
                </td>
                <td class="text-center">
                  <a class="btn btn-link" href="">
                    Download
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="3" />
                </td>
                <td class="text-gray-800 font-normal">
                  Invoice-2024-jk563z
                </td>
                <td>
                  <div class="badge badge-sm badge-outline badge-success">
                    Paid
                  </div>
                </td>
                <td class="text-gray-800 font-normal">
                  30 Apr, 2024
                </td>
                <td class="text-gray-800 font-normal">
                  6 Aug, 2024
                </td>
                <td class="text-gray-800 font-normal">
                  $24.00
                </td>
                <td class="text-center">
                  <a class="btn btn-link" href="">
                    Download
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="4" />
                </td>
                <td class="text-gray-800 font-normal">
                  Invoice-2024-hg234x
                </td>
                <td>
                  <div class="badge badge-sm badge-outline badge-danger">
                    Declined
                  </div>
                </td>
                <td class="text-gray-800 font-normal">
                  21 Apr, 2024
                </td>
                <td class="text-gray-800 font-normal">
                  6 Aug, 2024
                </td>
                <td class="text-gray-800 font-normal">
                  $6.59
                </td>
                <td class="text-center">
                  <a class="btn btn-link" href="">
                    Download
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
    class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
    <div class="flex items-center gap-2 order-2 md:order-1">
      Show
      <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
      </select>
      per page
    </div>
    <div class="flex items-center gap-4 order-1 md:order-2">
      <span data-datatable-info="true">1-5 of 30</span>
      <div class="pagination" data-datatable-pagination="true">
        <div class="pagination"><button class="btn disabled" disabled=""><i
              class="ki-outline ki-black-left rtl:transform rtl:rotate-180"></i></button><button
            class="btn active disabled" disabled="">1</button><button class="btn">2</button><button
            class="btn">3</button><button class="btn">...</button><button class="btn"><i
              class="ki-outline ki-black-right rtl:transform rtl:rotate-180"></i></button></div>
      </div>
    </div>
  </div>
  </div>
</div>
