<div class="custom-tab-group p-4 h-full">
    <mat-tab-group #tabGroup [color]="'accent'" [backgroundColor]="'primary'" class="dark:text-white">
        <mat-tab label="Profile"> 
          <ng-template matTabLabel>
            <span class="custom-tab-button dark:text-white">Profile</span>
          </ng-template>
          <div class="flex flex-col lg:flex-row gap-4 p-4">
            <div class="p-6 mt-7 card shadow-lg rounded-lg">
                <div class="flex justify-center items-center min-w-60">
                    <img [src]="this.appService.getProfileImagePath(memberDetail[ViewMemberDetails.memberProfilePic], memberDetail[ViewMemberDetails.memberGender])" 
                         [alt]="memberDetail[ViewMemberDetails.memberName]" 
                         class="w-40 h-40 rounded-full border-4"
                         [ngClass]="appService.getMemberShabiyaPadColorClass(memberDetail[ViewMemberDetails.isLifetime], memberDetail[ViewMemberDetails.memberType])">
                </div>
                <div class="mt-4 text-center">
                    <a class="btn btn-sm {{this.appService.getMemberShabiyaPadColorClass(this.memberDetail[ViewMemberDetails.isLifetime], this.memberDetail[ViewMemberDetails.memberType], true)}}">{{getMemberShabiyaText()}}</a>
                </div>
                <div class="my-2">
                    <p class="text-sm font-medium text-gray-900 text-center">
                        Member Id: {{ memberDetail[ViewMemberDetails.memberId] }}
                    </p>
                    <p class="text-xs font-medium text-gray-900 text-center mt-2">
                        Family Id: {{ memberDetail[ViewMemberDetails.familyIndex] }}
                    </p>
                </div>
                @if(showEditButtons && isProfileDataLoaded){
                    <div class="h-full flex flex-col items-center justify-center">
                        <div class="h-auto w-full mt-5 group">
                            <div class="border border-gray-200 cursor-pointer dark:bg-secondary-clarity rounded-xl gap-2 p-3.5 hover:text-primary-active" data-modal-target="modalUpdateProfilePic" data-modal-toggle="#modalUpdateProfilePic">
                                <div class="flex justify-center">
                                    <div class="flex items-center gap-1.5">
                                        <span class="text-sm font-medium text-gray-900 group-hover:text-primary-active">
                                            Change Profile Picture
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        <div class="h-auto w-full mt-5 group">
                            <a href="#" [routerLink]="['/members/member-form','edit', this.memberId]" class="w-full">
                                <div class="border border-gray-200 cursor-pointer dark:bg-secondary-clarity rounded-xl gap-2 p-3.5 hover:text-primary-active">
                                    <div class="flex justify-center">
                                        <div class="flex items-center gap-1.5">
                                            <span class="text-sm font-medium text-gray-900 group-hover:text-primary-active">
                                                Edit Profile
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="h-auto w-full mt-5 group">
                            <div class="border border-gray-200 cursor-pointer dark:bg-secondary-clarity rounded-xl gap-2 p-3.5 hover:text-primary-active" data-modal-target="modalUpdateLoginCred" data-modal-toggle="#modalUpdateLoginCred">
                                <div class="flex justify-center">
                                    <div class="flex items-center gap-1.5">
                                        <span class="text-sm font-medium text-gray-900 group-hover:text-primary-active">
                                            Change Login Credentials
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if(this.userData[ViewUsers.userType] == -1){
                            <div class="h-auto w-full mt-5 group">
                                <div class="border border-gray-200 cursor-pointer hover:bg-danger dark:hover:bg-danger dark:bg-secondary-clarity rounded-xl gap-2 p-3.5 hover:text-white" data-modal-target="modalDeleteProfile" data-modal-toggle="#modalDeleteProfile">
                                    <div class="flex justify-center">
                                        <div class="flex items-center gap-1.5">
                                            <span class="text-sm font-medium">
                                                Delete Profile
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="p-6 mt-7 card shadow-lg rounded-lg w-full">
                <section id="profile-info card-body">
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

                        <div>
                            <h5 class="card-title-text">Name:</h5>
                            <div id="membername" class="card-data-text">{{this.memberDetail[ViewMemberDetails.memberName]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Parent:</h5>
                            <div class="card-data-text" href="member_profile?member_id=0">{{this.memberDetail[ViewMemberDetails.parentName]}}</div>
                        </div>
                    </div>
            
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mt-7">
                        <div>
                            <h5 class="card-title-text">Gotra:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.memberGotra]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Native Place:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.memberNative]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Phone:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.memberPhone]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Qualification:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.memberQualification]}}</div>
                        </div>
                    </div>
            
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mt-4">
                        <div>
                            <h5 class="card-title-text">Gender:</h5>
                            <div class="card-data-text"> {{this.memberDetail[ViewMemberDetails.memberGender]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Birth Date:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.memberDob]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Blood Group:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.bloodGroup]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Marital Status:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.maritialStatus] == 0 ? "Single" : this.memberDetail[ViewMemberDetails.maritialStatus] == 1 ? "Engaged" : "Married"}}</div>
                        </div>
                    </div>
            
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-4">
                        <div>
                            <h5 class="card-title-text">Spouse:</h5>
                            <a class="card-data-text" (click)="redirectToSpouseProfile(memberDetail[ViewMemberDetails.spouseId] ?? 0)">{{memberDetail[ViewMemberDetails.spouseName]}}</a>
                        </div>
                        <div>
                            <h5 class="card-title-text">Engagement Date:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.engagementDate] == "0000-00-00" ? "" : this.memberDetail[ViewMemberDetails.engagementDate]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Marriage Date:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.marraigeDate] == "0000-00-00" ? "" : this.memberDetail[ViewMemberDetails.marraigeDate]}}</div>
                        </div>
                    </div>
            
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-4">
                        <div class="md:col-span-2">
                            <h5 class="card-title-text">Address:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.memberAddress]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Postal Code:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.postalCode]}}</div>
                        </div>
                    </div>
            
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mt-4">
                        <div>
                            <h5 class="card-title-text">Zone:</h5>
                            <div class="card-data-text">{{this.memberDetail.zone_name}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">City:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.cityName]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">State:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.stateName]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Country:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.countryName]}}</div>
                        </div>
                    </div>
            
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
                        <div>
                            <h5 class="card-title-text">Member ID:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.memberId]}}</div>
                        </div>
                        <div>
                            <h5 class="card-title-text">Family ID:</h5>
                            <div class="card-data-text">{{this.memberDetail[ViewMemberDetails.familyIndex]}}</div>
                        </div>
                    </div>
                </section>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Member Family"> 
          <ng-template matTabLabel>
            <span class="custom-tab-button dark:text-white">Member Family</span>
          </ng-template>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            @for (item of familyMembers; track $index) {
              <div class="m-3">
                <app-list-card [memberImageUrl]="this.appService.getProfileImagePath(item[ViewMemberDetails.memberProfilePic], item[ViewMemberDetails.memberGender])" [title]="item[ViewMemberDetails.memberName]" [memberNative]="item[ViewMemberDetails.memberNative]"
                      [memberCurrent]="item[ViewMemberDetails.cityName]" [redirectUrl]="getRedirectUrl(item[ViewMemberDetails.memberId])" (click)="focusFirstTab(item.id ?? 0)" [isLifeTime]="item[ViewMemberDetails.isLifetime]"></app-list-card>
              </div>
            }
          </div>
        </mat-tab>
        <mat-tab label="Family Tree"> 
          <ng-template matTabLabel>
            <span class="custom-tab-button dark:text-white">Member Tree</span>
          </ng-template>
          <div #treeElement>

          </div>
          <!-- <div class="row">
            <div class="col-12">
              <table class="float-right">
                <tr>
                  <td>Ancestor Depth : </td>
                  <td>
                    <input type="number" id="txtAncestorDepth" step="0" class="form-control form-control-sm" value="3" onchange="getMemberFamilyTree()">
                  </td>
                </tr>
              </table>
            </div>
          </div> -->
          <div id="familyTree"></div>
          <div id="bio"></div>
        </mat-tab>
      </mat-tab-group>      
</div>

<div class="modal" data-modal="true" id="modalUpdateLoginCred">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <div class="flex justify-between items-center rounded-t w-full">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Update Login Credentials
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-dismiss="true">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
        </div>
        <div class="modal-body p-0 pb-5">
            <div class="p-5">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 max-height-30 overflow-auto">
                    <div>
                        <label for="mobileNo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mobile No</label>
                        <input type="text" id="mobileNo" class="form-input" [(ngModel)]="userMobileNo" placeholder="Mobile No." name="mobileNo" />
                    </div>
                    <div>
                        <label for="newPass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                        <input type="password" id="newPass" class="form-input" [(ngModel)]="newPassword" placeholder="New Password" name="newPass" />
                    </div>
                    <div>
                        <label for="confNewPass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
                        <input type="password" id="confNewPass" class="form-input" [(ngModel)]="confirmPassword" placeholder="Confirm Password" name="confNewPass" />
                    </div>
                </div>
                <div class="flex justify-end mt-4">
                    <button type="submit" class="block text-white bg-blue-700 hover:bg-white hover:text-blue-500 focus:ring-4 focus:outline-none focus:ring-primary-300 transition-colors duration-300 ease-in-out font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-800" (click)="updateCredentials()">
                    <i class="fa fa-lock"></i> Update Credentials
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="true" id="modalUpdateProfilePic">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <div class="flex justify-between items-center rounded-t w-full">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Upload Profile Picture
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-dismiss="true">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
        </div>
        <div class="modal-body p-5 pb-5">
            <form (submit)="uploadFile()">
                <div 
                    class="flex flex-col items-center justify-center border-2 border-dashed border-gray-300 rounded-lg p-6 bg-gray-50 dark:bg-gray-700 dark:border-gray-600"
                    (dragover)="onDragOver($event)" 
                    (dragleave)="onDragLeave($event)" 
                    (drop)="onDrop($event)"
                    [ngClass]="{'bg-blue-50 border-blue-500': isDragging, 'bg-gray-50 dark:bg-gray-700': !isDragging}">
                    <input type="file" id="fileInput" class="hidden" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png" />
                    <label for="fileInput" class="cursor-pointer flex flex-col items-center justify-center">
                    <svg class="w-10 h-10 mb-3 text-gray-400 dark:text-gray-300" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18M3 12h18m-6 4l4-4m0 0l-4-4m4 4H7"></path>
                    </svg>
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        Drag and drop your image here, or <span class="text-blue-600 dark:text-blue-400 underline">browse</span>
                    </p>
                    <p class="text-xs text-gray-500 dark:text-gray-400 mt-1">
                        Only JPG, JPEG, PNG formats are allowed
                    </p>
                    <p *ngIf="selectedFile" class="text-sm text-gray-700 dark:text-gray-300 mt-2">
                        Selected File: <span class="font-medium">{{ selectedFile.name }}</span>
                    </p>
                    </label>
                </div>
            <div class="flex justify-end mt-4">
                <button type="submit" class="block text-white bg-blue-700 hover:bg-white hover:text-blue-500 focus:ring-4 focus:outline-none focus:ring-primary-300 transition-colors duration-300 ease-in-out font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-800">
                <i class="fa fa-upload"></i> Upload Picture
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" data-modal="true" id="modalDeleteProfile">
    <div class="modal-content modal-center max-w-[500px] w-full">
        <div class="modal-body flex flex-col items-center pt-0 pb-10">
            <h3 class="text-xl font-medium text-gray-900 text-center mt-6">
                Confirm Delete Profile
            </h3>
            <div class="text-6sm text-center text-gray-700 my-3">
                Are you sure you want to delete this profile?
            </div>
            <div class="flex justify-center items-center gap-4 mt-4">
                <button class="btn btn-danger" (click)="confirmDelete()" data-modal-dismiss="true">Delete</button>
                <button class="btn btn-secondary" data-modal-dismiss="true">Cancel</button>
            </div>
        </div>
    </div>
</div>